<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Explorer</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Text Explorer</h1>

    <div class="input-section">
        <h2>Cargar archivos</h2>
        <input type="file" id="fileInput" multiple>
        <button id="loadButton" disabled>Cargar</button>
    </div>
    
    <div class="file-content-container">
        <div id="fileContent1" class="file-content"></div>
        <div id="fileContent2" class="file-content"></div>
    </div>

    <div class="input-section">
        <h2>Similitud - LCS</h2>
        <button id="similarityButton" disabled>Calcular similitud</button>
        <p id="lcsResult"></p>
    </div>

    <div class="input-section">
        <h2>Auto-completar - Trie</h2>
        <input type="text" id="autocompletar_input" placeholder="Escribe para auto-completar">
        <ul id="suggestions"></ul>
    </div>

    <script src="script.js"></script>
</body>

</html>